# Biological Data Mining - Colombos Vini - Preprocesing

In [1]:
import pandas as pd
import numpy as np
import pylab

#### Reading Data

In [2]:
header_length = 6
df = pd.read_csv("colombos_vvini_exprdata.txt", sep = "\t", skipinitialspace = True,
                 skiprows = header_length)
df.rename(columns={'Geneid/Contrast_id': 'GeneID', 'Gene name': 'GeneName'}, inplace=True)
df.head()

,LocusTag,GeneName,GeneID,1,2,3,4,5,6,7,...,2563,2564,2565,2566,2568,2569,2570,2571,2572,2573
0,VITISV_037663<br>VIT_04s0044g00670<br>VIT_13s0...,A5AE40,30837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VIT_00s0120g00010,VIT_00s0120g00010,27377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VIT_00s0120g00030,VIT_00s0120g00030,27378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VIT_00s0120g00070,VIT_00s0120g00070,27371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VIT_00s0120g00080<br>VIT_09s0070g00800<br>VIT_...,VIT_00s0173g00030,30734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(29090, 1567)

### Dealing with nan

In [4]:
nan_stats = {}#"NumberOfRemovedGenes", "NumberOfRemovedColumns", "NumberOfCellsReplcedWithMean"])

##### Remove columns with to many NaN

In [5]:
nan_stats["NumberOfRemovedExperiments"] = df.loc[:,(df.shape[0] - df.count()) >= 5000].shape[1]
nan_stats["NumberOfRemovedGenes"] = 0
df = df.loc[:,(df.shape[0] - df.count()) < 5000]

df.head()

,LocusTag,GeneName,GeneID,117,118,119,120,121,122,123,...,2547,2548,2549,2550,2551,2554,2555,2556,2557,2558
0,VITISV_037663<br>VIT_04s0044g00670<br>VIT_13s0...,A5AE40,30837,0.074122,-0.050508,-0.054257,0.024606,0.235260,-0.072766,0.01474,...,-0.088366,0.402760,0.020669,-0.343190,0.108590,0.258170,0.061400,-0.088795,0.337030,0.507730
1,VIT_00s0120g00010,VIT_00s0120g00010,27377,0.251910,0.438920,0.165490,0.170040,0.359180,0.500590,0.38774,...,-0.832850,-0.364330,-0.447610,0.351690,0.348200,-0.183500,-0.101440,-0.118100,0.088322,0.668720
2,VIT_00s0120g00030,VIT_00s0120g00030,27378,0.196020,0.208990,0.138000,-0.011565,0.069942,0.140790,0.13121,...,-0.030736,0.028623,0.001202,0.036219,0.043602,-0.194420,-0.019498,0.038528,0.014623,-0.053427
3,VIT_00s0120g00070,VIT_00s0120g00070,27371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.047360,0.114440,0.024600,-0.022167,0.239030
4,VIT_00s0120g00080<br>VIT_09s0070g00800<br>VIT_...,VIT_00s0173g00030,30734,-0.246480,-0.894880,-0.777630,-0.153840,-0.325990,0.408470,-0.10380,...,0.218790,0.147860,0.121400,-0.053236,-0.233670,0.016658,-0.006360,0.057350,-0.016801,-0.030682

##### Replace NaN with column mean

In [6]:
s = df.shape[0] * df.shape[1] - sum(df.count())
for i in df.columns[3:]:
    mean = df[i].mean();
    df.loc[pd.isnull(df[i]),i] = mean
nan_stats["NumberOfCellsReplcedWithMean"] = s
df.head()

,LocusTag,GeneName,GeneID,117,118,119,120,121,122,123,...,2547,2548,2549,2550,2551,2554,2555,2556,2557,2558
0,VITISV_037663<br>VIT_04s0044g00670<br>VIT_13s0...,A5AE40,30837,0.074122,-0.050508,-0.054257,0.024606,0.235260,-0.072766,0.014740,...,-0.088366,0.402760,0.020669,-0.343190,0.108590,0.258170,0.061400,-0.088795,0.337030,0.507730
1,VIT_00s0120g00010,VIT_00s0120g00010,27377,0.251910,0.438920,0.165490,0.170040,0.359180,0.500590,0.387740,...,-0.832850,-0.364330,-0.447610,0.351690,0.348200,-0.183500,-0.101440,-0.118100,0.088322,0.668720
2,VIT_00s0120g00030,VIT_00s0120g00030,27378,0.196020,0.208990,0.138000,-0.011565,0.069942,0.140790,0.131210,...,-0.030736,0.028623,0.001202,0.036219,0.043602,-0.194420,-0.019498,0.038528,0.014623,-0.053427
3,VIT_00s0120g00070,VIT_00s0120g00070,27371,0.005119,0.020317,0.015013,0.002750,-0.000942,-0.007854,0.002968,...,0.049147,0.041794,0.046453,0.026858,0.024642,0.047360,0.114440,0.024600,-0.022167,0.239030
4,VIT_00s0120g00080<br>VIT_09s0070g00800<br>VIT_...,VIT_00s0173g00030,30734,-0.246480,-0.894880,-0.777630,-0.153840,-0.325990,0.408470,-0.103800,...,0.218790,0.147860,0.121400,-0.053236,-0.233670,0.016658,-0.006360,0.057350,-0.016801,-0.030682

In [7]:
pd.DataFrame(nan_stats, index = [0]).to_csv("report/preprocesing_nan.csv", index = False)
df = df.drop(['GeneName', 'GeneID'], axis = 1)
df.to_csv('df_expressions.csv', sep = "\t", index = False)
nan_stats

{'NumberOfCellsReplcedWithMean': 613890,
 'NumberOfRemovedExperiments': 863,
 'NumberOfRemovedGenes': 0}

#### Read Pathway data

In [8]:
df_pathway = pd.read_csv("flavonoidi_pathway.csv")

df_pathway.rename(columns = {"Locus ID" : "LocusID", "Full name" : "FullName",
                             "Functionnal category" : "FunctionnalCategory"}, inplace = True)
df_pathway.drop_duplicates(inplace = True)
df_pathway.head()

,V2,V1,LocusID,FullName,FunctionnalCategory,Symbol,Synonyms
0,VIT_200s1492g00010,VIT_00s1492g00010,Vitvi00s1492g00010,Chalcone synthase,Metabolism,Secondary metabolism,Phenylpropanoid metabolism
2,VIT_203s0038g01460,VIT_03s0038g01460,Vitvi03s0038g01460,Chalcone synthase,Metabolism,Secondary metabolism,Phenylpropanoid metabolism
3,VIT_205s0136g00260,VIT_05s0136g00260,Vitvi05s0136g00260,Chalcone synthase,Metabolism,Secondary metabolism,Phenylpropanoid metabolism
4,VIT_214s0068g00920,VIT_14s0068g00930,Vitvi14s0068g00930,Chalcone synthase,Metabolism,Secondary metabolism,Phenylpropanoid metabolism
5,VIT_216s0100g00860,VIT_16s0100g00860,Vitvi16s0100g00860,Chalcone synthase,Metabolism,Secondary metabolism,Phenylpropanoid metabolism

##### Read relations data

In [9]:
df_relations = pd.read_csv("flavonoidi_relations.csv", sep = ",", skipinitialspace = True)
df_relations = df_relations.loc[:,["V1", "Target gene"]]
df_relations.columns = ["Cause", "Target"]
df_relations.head()

               Cause             Target
0  VIT_02s0033g00410  VIT_16s0039g02230
1  VIT_02s0033g00380  VIT_16s0039g02230
2  VIT_07s0104g00090  VIT_16s0039g02230
3  VIT_07s0005g01210  VIT_03s0017g00710
4  VIT_07s0005g01210  VIT_07s0031g00100

##### Replace values in df_relations, df_pathway to match df_expressions.

In [10]:
new_df_relations = pd.DataFrame(columns = df_relations.columns)
for i in df_relations.index:
    match_cause = df[df["LocusTag"].str.contains(df_relations.loc[i, "Cause"])]
    match_target = df[df["LocusTag"].str.contains(df_relations.loc[i, "Target"])]
    new_df_relations = new_df_relations.append(
    pd.DataFrame({"Cause" : [match_cause.iloc[0,0]], "Target" : [match_target.iloc[0,0]]}))

new_df_relations = new_df_relations.drop_duplicates()
new_df_relations.to_csv("df_relations.csv", sep = "\t", index = False)
new_df_relations.head()

                                               Cause             Target
0  VIT_02s0033g00450<br>VIT_02s0033g00380<br>VIT_...  VIT_16s0039g02230
0                                  VIT_07s0104g00090  VIT_16s0039g02230
0                                  VIT_07s0005g01210  VIT_03s0017g00710
0                                  VIT_07s0005g01210  VIT_07s0031g00100
0                                  VIT_07s0005g01210  VIT_10s0003g02430

In [11]:
new_df_pathway = pd.DataFrame(columns = ["Gene"])
for i in df_pathway.index:
    if pd.isnull(df_pathway.loc[i, "V1"]):
        continue
    match = df[df["LocusTag"].str.contains(df_pathway.loc[i, "V1"])]
    new_df_pathway = new_df_pathway.append(pd.DataFrame({"Gene" : [match.iloc[0,0]]}))
new_df_pathway = new_df_pathway.drop_duplicates()
new_df_pathway.to_csv("df_pathway.csv", sep = "\t", index = False)
new_df_pathway.head()

                                                Gene
0  VIT_16s0022g01190<br>VIT_00s1492g00010<br>VIT_...
0                                  VIT_03s0038g01460
0                                  VIT_05s0136g00260
0                                  VIT_14s0068g00930
0  VIT_16s0100g00860<br>VIT_16s0100g00940<br>VIT_...